@import "tailwindcss";

.disabled-scrool::-webkit-scrollbar {
    display: none;
}

.disabled-scrool::-webkit-scrollbar-thumb {
    display: none;
}

@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  .slide-up {
    animation-name: slide-up;
    animation-duration: var(--tw-duration);
    animation-timing-function: var(--tw-ease);
    animation-fill-mode: forwards;
  }

  .slide-down {
    animation-name: slide-down;
    animation-duration: var(--tw-duration);
    animation-timing-function: var(--tw-ease);
    animation-fill-mode: forwards;
  }
}

