@import "tailwindcss";

.disabled-scrool::-webkit-scrollbar {
    display: none;
}

.disabled-scrool::-webkit-scrollbar-thumb {
    display: none;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply fixed top-0 left-0 w-full h-[4px] z-[9999];
  background: var(--nprogress-color, theme('colors.red.500'));
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--nprogress-color, theme('colors.red.500')),
    0 0 5px var(--nprogress-color, theme('colors.red.500'));
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none !important;
}

@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  .slide-up {
    animation-name: slide-up;
    animation-duration: var(--tw-duration);
    animation-timing-function: var(--tw-ease);
    animation-fill-mode: forwards;
  }

  .slide-down {
    animation-name: slide-down;
    animation-duration: var(--tw-duration);
    animation-timing-function: var(--tw-ease);
    animation-fill-mode: forwards;
  }
}

